<footer class= 'footer'>
	<hr/>
	<small>
		<div class="center">
		<strong><p>All recipes are part of the MyRecipes Group. 
		© Copyright 2021 MyRecipes. All Rights Reserved.</p></strong>
	</div>
	
	</small>
</footer>

